### Symfony ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
### Symfony ###

### PHPStorm ###
/.idea/
### PHPStorm ###

### macOS ###
.DS_Store
### macOS ###

### PHPStan ###
phpstan.neon
### PHPStan ###

### PHPUnit ###
/phpunit.xml
.phpunit.result.cache
### PHPUnit ###

### PHP_CodeSniffer ###
/.phpcs-cache
/phpcs.xml
### PHP_CodeSniffer ###

### JWT Authentication Bundle ###
/config/jwt/*.pem
### JWT Authentication Bundle ###
